* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", serif;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: url(image1.png);
    background-size: cover;
    background-position: center;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 2%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 10%;
}

nav img {
    width: 40%;
}

.elements {
    text-align: right;
}

.elements ul {
    display: inline-block;
}

.elements ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.elements ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

.elements ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.elements ul li:hover::after {
    width: 100%;
}

.textbox {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.textbox h1 {
    font-size: 62px;
}

.textbox p {
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}

.btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.btn:hover {
    border: 1px solid #ff4336;
    background: #f22336;
    transition: 1s;
}

.elements .fa {
    display: none;
}

@media (max-width: 700px) {
    .textbox h1 {
        font-size: 20px;
    }

    .elements ul li {
        display: block;
    }

    .elements {
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
    }

    .elements .fa {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .elements ul {
        padding: 30px;
    }
}
